@import '@/styles/_variables';
@import '@/styles/_variables';

.btn {
    width: 145px;
    height: 40px;

    border-radius: 31px;

    font-family: $roboto_font;
    font-size: 16px;
    line-height: auto;

    &:hover {
        transition: ease-in .3s;
        box-shadow: 0 4px 4px rgba(39, 174, 96, .2);
    }

    &:not(:hover) {
        transition: ease-in .6s;
    }
}

.btnPrimary {
    border: none;
    background-color: $lime_green;
    color: #fff;
}

.btnSecondary {
    border: 2px solid $lime_green;
    background-color: transparent;
    color: $lime_green;
}