@import "@/styles/_variables";
@import "@/styles/_breakpoints";

.sectionWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 35px 40px;

  h2 {
    font-size: 26px;
    font-weight: 700;
    font-family: $font-helvetica;
    color: $color-primary;
    line-height: normal;
  }

  .tableContainer {
    width: 100%;
    max-width: 1280px;

    .tableCell {
      font-family: $font-montserrat;
    }

    .tableHead {
      background-color: $color-secondary;

      .tableCell {
        color: $color-mustard-yellow;
        font-weight: 700;
      }
    }

    .tableRowBody {
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }

      .link {
        color: $color-dark;
        text-decoration: none;
      }
    }

    @mixin button-style {
      border: none;
      background: transparent;
      svg {
        cursor: pointer;

        &:hover {
          color: inherit;
        }
      }
    }

    .edit {
      @include button-style; 
      &:hover {
        color: rgb(9, 9, 244);
      }
    }

    .delete {
      @include button-style;
      &:hover {
        color: rgb(244, 9, 9);
      }
    }
  }

  @media (min-width: $breakpoint-desktop-sm) {
    h2 {
      font-size: 36px;
    }
  }
}
