@import "@/styles/_variables";
@import "@/styles/_breakpoints";

.homeContainer {
  display: flex;
  justify-content: center;
  padding: 58px 0 90px;

  .feed {
    display: flex;
    flex-direction: column;
    gap: 55px;
  }

  .randomPosts {
    display: none;
  }

  @media (min-width: $breakpoint-tablet-sm) {
    padding: 50px 0;
  }

  @media (min-width: $breakpoint-desktop-sm) {
    justify-content: space-around;

    .randomPosts {
      display: flex;
      flex-direction: column;
    }
  }

  @media (min-width: $breakpoint-desktop-md) {
    gap: 30px;
  }
}
