@import '@/styles/_variables';
@import '@/styles/_breakpoints';

.homeContainer {
  display: flex;
  padding: 16px 0 16px 0;
  justify-content: center;

  .randomPosts {
    display: none;
  }

  @media (min-width: $desktop) {
    justify-content: space-around;

    .randomPosts {
      display: flex;
    }
  }
}