@import '@/styles/_variables';
@import '@/styles/_breakpoints';

.searchWrapper {
    display: flex;
    width: 100%;
    justify-content: center;

    .search {
        width: 254px;
        background-color: #fff;
        display: flex;
        align-items: center;
        padding-right: 10px;
        border-radius: 30px;

        input {
            width: 100%;
            height: 40px;
            border: none;
            border-radius: 30px;
            padding: 0 10px;
            font-size: 16px;
            background: transparent;
            cursor: text;

            &:focus {
                outline: none;
                border: none;
            }
        }

        button {
            background: transparent;
            border: none;

            svg {
                cursor: pointer;
            }
        }
    }

    @media (min-width: $tablet_sml) {
        width: 676px;
        justify-content: start
    }
}