$breakpoint-mobile-xs: 320px;
$breakpoint-mobile-sm: 375px;
$breakpoint-mobile-md: 412px;
$breakpoint-mobile-lg: 425px;

$breakpoint-tablet-sm: 768px;
$breakpoint-tablet-md: 1024px;

$breakpoint-desktop-sm: 1280px;
$breakpoint-desktop-md: 1440px;
$breakpoint-desktop-lg: 1920px;
