
$primary_color: #8ecae6;
$secondary_color: #219ebc;
$dark_color: #023047;
$bg_color: #ECF0F1;
$mustard_yellow: #F39C12;
$orange: #e36414;

$roboto_font: 'Roboto', sans-serif;
$montserrat_font: 'Montserrat', sans-serif;
$lato_font: 'Helvetica', sans-serif;
