$primary_color: #007ACC;
$secondary_color: #2C3E50;
$lime_green: #27AE60;
$bg_color: #ECF0F1;
$mustard_yellow: #F39C12;

$roboto_font: 'Roboto', sans-serif;
$montserrat_font: 'Montserrat', sans-serif;
$lato_font: 'Helvetica', sans-serif;