// Colors
$color-primary: #8ecae6;
$color-secondary: #219ebc;
$color-dark: #023047;
$color-bg: #ECF0F1;
$color-mustard-yellow: #F39C12;
$color-orange: #e36414;

// Fonts
$font-roboto: 'Roboto', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-helvetica: 'Helvetica', sans-serif;
