@import '@/styles/_breakpoints';
@import '@/styles/_variables';

.headerWrapper {
  background-color: $secondary_color;
  display: flex;
  align-items: center;
  width: auto;
  height: 61px;
  padding: 0 20px;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
     img {
      width: 54px;
      height: 54px;
    }
  }

  .menu {
    display: none;
    position: absolute;
    right: 16px;

    .links {
      display: flex;
      gap: 20px;
      cursor: pointer;

      div {
        gap: 20px;
      }

      .linkNavigate {
        color: $mustard_yellow;

        text-decoration: none;
        font-size: 18px;
        font-family: $roboto_font;
        font-weight: bold;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        background: none;
        border: none;
      }

    }
    .buttons {
      display: flex;
      gap: 15px;
    }
  }

  .menuMobile {
    display: flex;
  }

  @media (min-width: $tablet) and (max-width: $desktop) {
    height: 70px;

    .logo {
      img {
        height: 22px;
      }
    }
  }

  @media (min-width: $tablet) and (max-width: $desktop) {
    height: 100px;
    .logo {
      img {
        height: 64px;
      }
    }

    .menuMobile {
      display: none;
    }

    .menu {
      display: flex;

      .links {
        cursor: pointer;
        div {
          display: flex;
        }
      }
    }
  }

  @media (min-width: $desktop) {
    .linkNavigate {
      cursor: pointer;
    }
  }

  @media (min-width: $desktop) {
    height: 100px;
    .logo {
      img {
        height: 54px;
      }
    }
    .menuMobile {
      display: none;
    }
    .menu {
      display: flex;

      .links {
        cursor: pointer;
        div {
          display: flex;
        }

        .linkNavigate {
          font-size: 22px;
        }
      }
    }
  }
}