@import "@/styles/_breakpoints";
@import "@/styles/_variables";

.headerWrapper {
  background-color: $secondary_color;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 61px;

  padding: 0 20px;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 20px;

    img {
      width: auto;
      height: 19px;
    }
  }

  .menu {
    display: none;

    .links {
      display: flex;
      gap: 20px;

      div {
        gap: 20px;
      }

      .linkNavigate {
        color: $mustard_yellow;

        text-decoration: none;
        font-size: 18px;
        font-family: $roboto_font;
        font-weight: bold;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        background: none;
        border: none;
      }
    }

    .buttons {
      display: flex;
      gap: 15px;
    }
  }

  .menuMobile {
    display: flex;
  }

  @media (min-width: $mobile_md) and (max-width: $tablet_sml) {
    height: 70px;

    .logo {
      img {
        height: 22px;
      }
    }
  }

  @media (min-width: $tablet_sml) and (max-width: $desktop_md) {
    height: 100px;

    .logo {
      img {
        height: 40px;
      }
    }

    .menuMobile {
      display: none;
    }

    .menu {
      display: flex;

      .links {
        div {
          display: flex;
        }
      }
    }
  }

  @media (min-width: $desktop_sml) {
    .linkNavigate {
      cursor: pointer;
    }
  }

  @media (min-width: $desktop_lg) {
    height: 100px;

    .logo {
      img {
        height: 34px;
      }
    }

    .menuMobile {
      display: none;
    }

    .menu {
      display: flex;

      .links {
        div {
          display: flex;
        }

        .linkNavigate {
          font-size: 22px;
        }
      }
    }
  }
}
