@import '@/styles/_variables';
@import '@/styles/_breakpoints';

.sectionWrapper {
    width: 100%;
    min-height: 100vh;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;

    padding: 20px 30px;

    h2 {
        font-family: $lato_font;
        font-size: 28px;
        color: $primary_color;
        list-style: auto;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .container {
            border: none;

            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 20px;
        }

        .buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
    }

    @media (min-width: $tablet) {
        h2 {
            font-size: 48px;
        }

        form {
            .container {
                label {
                    font-size: 24px;

                    input {
                        height: 40px;
                        font-size: 20px;
                    }
                }
            }

            .buttons {
                flex-direction: row;
                justify-content: end;
            }
        }
    }

    @media (min-width: $desktop) {
        h2 {
            font-size: 64px;
        }

        form {
            .container {
                label {
                    font-size: 32px;

                    input {
                        height: 50px;
                        font-size: 24px;
                        cursor: text;
                    }
                }
            }
        }
    }
}