@import '@/styles/_variables';
@import '@/styles/_breakpoints';

.sectionWrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  gap: 30px;

  h2 {
    font-family: $font-helvetica;
    font-size: 28px;
    color: $color-primary;
    transition: font-size .3s ease;

    @media (min-width: $breakpoint-tablet-sm) {
      font-size: 48px;
    }

    @media (min-width: $breakpoint-desktop-sm) {
      font-size: 64px;
    }

    @media (min-width: $breakpoint-desktop-md) {
      font-size: 70px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .container {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 20px;
      border: none;

      .sectionWrapper, .subjectLabel, .subjectsDropdown {
        font-family: $font-roboto;
        color: $color-secondary;
        font-size: 0.725rem;
        border-radius: 5px;

        p {
          font-size: 16px;
          margin-bottom: 8px;
        }
            @media (min-width: $breakpoint-desktop-lg) {
            font-size: 20px;
            margin-top: 0;
            margin-bottom: 24px;
            }

            @media (min-width: $breakpoint-tablet-md) {
            font-size: 18px;
            height: 30px;
            border-radius: 5px;
            margin-bottom: 36px;
          }
        }

        .subjectsDropdown {
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
          background-color: #fff;
          width: 100%;
          font-weight: 600;
          border: none;
          padding: 6px;
          height: 50px;

          @media (max-width: $breakpoint-desktop-md) {
            font-size: 16px;
            height: 45px;
            bottom: 8px;
          }

          @media (max-width: $breakpoint-mobile-lg) {
            font-size: 16px;
            height: 30px;
            bottom: 8px;
          }
        }
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      @media (min-width: $breakpoint-tablet-sm) {
        flex-direction: row;
        justify-content: flex-end;
      }
    }
  }

