@import "@/styles/__breakpoints";
@import "@/styles/__variables";

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-secondary;
  width: 100%;
  padding: 30px 0;

  p {
    color: $color-mustard-yellow;
    font-family: $font-roboto;
    font-size: 14px;
  }

  @media (min-width: $breakpoint-desktop-md) {
    padding: 40px 0;
    p {
      font-size: 20px;
    }
  }

  @media (min-width: $breakpoint-desktop-lg) {
    padding: 50px 0;
    p {
      font-size: 24px;
    }
  }
}
